# Node modules
node_modules

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Build output
dist
coverage

# OS / Editor files
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json



uploads/.gitkeep
!uploads/*